@import url('../styles.css');

:root {
  custom-blue: #007faa;
}

main {
  display: flex;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 10.25vw);
    grid-template-rows: repeat(8, 10.25vw);
    :hover {
        background-color: darkslateblue;
    }
    section {
        display: flex;

        border-radius: 30%;
        border: black solid 1px;

        margin: 20px 20px;

        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.closed {
    background-color: gray;
}

input {
    flex: 1;
    border-radius: 20px;
    border: 1px solid gray;
    border-style: solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nameSection {
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
}

button {
    background-color: var(custom-blue);

    transition: box-shadow .2s ease;

    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: steps(30);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: blue;
        color: black;
    }
}

#leaderboardID {
  tr,
  td {
    background-color: darkcyan;
    border: 1px solid darkblue;
  }
}
