@import url('../styles.css');

:root {
  custom-blue: #007faa;
}

input {
    flex: 1;
    border-radius: 20px;
    border: 1px solid gray;
    border-style: solid black;

    max-width: 70%;
}

.nameSection {
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
}

.name-submit {
    border-radius: 10%
}

button {
    background-color: var(custom-blue);
}

main {
  display: flex;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 10.25vw);
    grid-template-rows: repeat(8, 10.25vw);
    :hover {
        background-color: darkslateblue;
    }
    section {
        display: flex;

        border-radius: 20%;
        border: black solid 1px;

        margin: 20px 20px;

        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.closed {
    background-color: gray;
}

#leaderboardID {
  tr,
  td {
    background-color: darkcyan;
    border: 1px solid darkblue;
  }
}

#leaderboardID,
#player-name,
#player-score {
  text-align: center;
}
