* {
  font-family: sans-serif;
}

body {
  font-size: 16pt;
  line-height: 2;
  color: #333;
  background-color: burlywood;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

header {
  background-color: #00008f;
  color: #00afff;
  border-radius: 10px;
  border-style: groove;

  display: flex;
  align-items: center;
  justify-content: center;
}

article > h2 {
  color: darkorchid;
}

.select-memory {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  :hover {
    background-color: lightblue;
  }

}

@media (min-width: 768px) {
  .select-memory{grid-template-columns: repeat(4, 25%);}
}

@media (min-width: 1280px) {
  .select-memory{grid-template-columns: repeat(5, 20%);}
}

.memory-set {
  display: grid;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
  text-align: center;
  background-color: lightcoral;
  img {
    width: 100%;
  }
}

footer{
  background-color: lightgoldenrodyellow;
}

#app {
  padding: 1rem;
}
